body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: rgb(156, 29, 156);
    font-size: 2rem;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, select:focus {
    border-color: rgb(156, 29, 156);
    box-shadow: 0 0 5px rgba(156, 29, 156, 0.5);
    outline: none;
}

.radio {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.radio_label {
    margin: 0;
    color: #333;
}

.div_dosagem, .div_med_prod {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

#dosagem_numero, #dosagem_unidade {
    width: 100%;
}

button {
    background-color: rgb(156, 29, 156);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(136, 25, 136);
}

/* Adicionando ícones (opcional) */
.icon {
    margin-right: 10px;
    color: rgb(156, 29, 156);
}

.input_cinza {
    background-color: lightgrey;
}