body {
    font-family: Arial, sans-serif;
    background-color: #eeaff2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio {
    margin: 0;
    padding: 0;
}

.radio_label {
    margin-left: 10px;
}

.div_dosagem, .div_med_prod {
    display: flex;
    align-items: center;
    width: 100%;
}

#dosagem_numero, #dosagem_unidade {
    width: 100%;
}

select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: rgb(156, 29, 156);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(201, 42, 201);
}
