body {
    font-family: Arial, sans-serif;
    font-size: large;
    background-color: #eeaff2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: large;
}

select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: large;
}

button {
    background-color: rgb(156, 29, 156);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

button:hover {
    background-color: rgb(201, 42, 201);
}
